Package: com.brend0n.volumemixer
Name: VolumeMixer
Depends: mobilesubstrate, preferenceloader, applist, ws.hbang.common (>= 1.11)
Version: 0.0.3b4
Architecture: iphoneos-arm
Description: volume control for individual app
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/volumemixer.bundle/icon@2x.png
