<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>CHOOSE_ENABLED_APP</string>
            <key>action</key>
            <string>selectApp</string>
        </dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHOW_PANEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>byVolumeButton</string>
			<key>label</key>
			<string>BY_VOLUME_BUTTON</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>BY_ACTIVATOR</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.brend0n.volumemixer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WEB_AUDIO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>webEnabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>AUDIO_MIX_CREDIT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>audioMixEnabled</string>
			<key>label</key>
			<string>ENABLE_AUDIO_MIX</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>CHOOSE_ENABLED_APP</string>
            <key>action</key>
            <string>selectAudiomixApp</string>
        </dict>
	</array>
	<key>title</key>
	<string>VolumeMixer</string>
</dict>
</plist>
