<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>WEB_FOOTER_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>label</key>
			<string>CHOOSE_ENABLED_APP</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_apps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>includeIdentifiersInSearch</key>
			<true/>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_webEnabled</string>
			<key>label</key>
			<string>WEB_AUDIO</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_webAudioUnitHookEnabled</string>
			<key>label</key>
			<string>WEB_AUDIO_AUDIO_UNIT</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHOW_PANEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_byVolumeButton</string>
			<key>label</key>
			<string>BY_VOLUME_BUTTON</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
		<dict>
		    <key>bundle</key>
		    <string>ControlCenterSettings</string>
		    <key>cell</key>
		    <string>PSLinkCell</string>
		    <key>detail</key>
		    <string>ControlCenterSettingsListController</string>
		    <key>iconCache</key>
		    <string>ControlCenter</string>
		    <key>iconImageShouldFlipForRightToLeft</key>
		    <true/>
		    <key>id</key>
		    <string>ControlCenter</string>
		    <key>isController</key>
		    <true/>
		    <key>label</key>
		    <string>CONTROLCENTER</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>BY_ACTIVATOR</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.brend0n.volumemixer</string>
			<key>id</key>
			<string>BY_ACTIVATOR</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_isHideInactiveApps</string>
			<key>label</key>
			<string>HIDE_INACTIVE_APPS</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>id</key>
			<string>AUDIO_MIX_CREDIT_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_audioMixEnabled</string>
			<key>label</key>
			<string>ENABLE_AUDIO_MIX</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>label</key>
			<string>CHOOSE_AUDIO_MIX_MUSIC_APP</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_audiomixApps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>includeIdentifiersInSearch</key>
			<true/>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PANEL_PORTRAIT_Y</string>
			<key>id</key>
			<string>PANEL_PORTRAIT_Y_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_panelPortraitY</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
			<key>id</key>
			<string>PANEL_PORTRAIT_Y</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PANEL_LANDSCAPE_Y</string>
			<key>id</key>
			<string>PANEL_LANDSCAPE_Y_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_panelLandScapeY</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
			<key>id</key>
			<string>PANEL_LANDSCAPE_Y</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_isHideBackground</string>
			<key>label</key>
			<string>HIDE_BACKGROUND</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.apple.UIKit</string>
			<key>key</key>
			<string>com.brend0n.volumemixer_showsOnLockScreen</string>
			<key>label</key>
			<string>SHOWS_ON_LOCK_SCREEN</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIVATOR_LISTENERS</string>
			<key>footerText</key>
			<string>ACTIVATOR_LISTENERS_FOOTER_TEXT</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ACTIVATOR_VOLUME_UP</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.brend0n.volumemixer.volumeup</string>
			<key>id</key>
			<string>ACTIVATOR_VOLUME_UP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ACTIVATOR_VOLUME_DOWN</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.brend0n.volumemixer.volumedown</string>
			<key>id</key>
			<string>ACTIVATOR_VOLUME_DOWN</string>
		</dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string></string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>MIGRATE_SETTINGS</string>
            <key>action</key>
            <string>showConfirmAlert:</string>
            <key>id</key>
            <string>_migrate</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>RESET_SETTINGS</string>
            <key>action</key>
            <string>showConfirmAlert:</string>
            <key>id</key>
            <string>_reset</string>
        </dict>
	</array>
	<key>title</key>
	<string>VolumeMixer</string>
</dict>
</plist>
