<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>WEB_FOOTER_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>label</key>
			<string>CHOOSE_ENABLED_APP</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>apps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>includeIdentifiersInSearch</key>
			<true/>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>webEnabled</string>
			<key>label</key>
			<string>WEB_AUDIO</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>webAudioUnitHookEnabled</string>
			<key>label</key>
			<string>WEB_AUDIO_AUDIO_UNIT</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHOW_PANEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>byVolumeButton</string>
			<key>label</key>
			<string>BY_VOLUME_BUTTON</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>BY_ACTIVATOR</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.brend0n.volumemixer</string>
			<key>id</key>
			<string>BY_ACTIVATOR</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>isHideInactiveApps</string>
			<key>label</key>
			<string>HIDE_INACTIVE_APPS</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>id</key>
			<string>AUDIO_MIX_CREDIT_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>audioMixEnabled</string>
			<key>label</key>
			<string>ENABLE_AUDIO_MIX</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>label</key>
			<string>CHOOSE_AUDIO_MIX_MUSIC_APP</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>audiomixApps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>includeIdentifiersInSearch</key>
			<true/>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PANEL_PORTRAIT_Y</string>
			<key>id</key>
			<string>PANEL_PORTRAIT_Y_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>panelPortraitY</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
			<key>id</key>
			<string>PANEL_PORTRAIT_Y</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PANEL_LANDSCAPE_Y</string>
			<key>id</key>
			<string>PANEL_LANDSCAPE_Y_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.brend0n.volumemixer</string>
			<key>key</key>
			<string>panelLandScapeY</string>
			<key>PostNotification</key>
			<string>com.brend0n.volumemixer/loadPref</string>
			<key>id</key>
			<string>PANEL_LANDSCAPE_Y</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIVATOR_LISTENERS</string>
			<key>footerText</key>
			<string>ACTIVATOR_LISTENERS_FOOTER_TEXT</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ACTIVATOR_VOLUME_UP</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.brend0n.volumemixer.volumeup</string>
			<key>id</key>
			<string>ACTIVATOR_VOLUME_UP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ACTIVATOR_VOLUME_DOWN</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.brend0n.volumemixer.volumedown</string>
			<key>id</key>
			<string>ACTIVATOR_VOLUME_DOWN</string>
		</dict>
	</array>
	<key>title</key>
	<string>VolumeMixer</string>
</dict>
</plist>
